/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #d2b48c;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

h1 {
    text-align: center;
    color: #5e3a1b;
}

.container {
    display: flex;
    gap: 10px;
    width: 100%;
}

select {
    width: 97%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    width: 50%;
    height: 400px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

table {
    width: 1150px;
    border-collapse: collapse;
    table-layout: fixed; 
    overflow-x: auto;
    background-color: #f4f0e6;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-wrap: break-word;
    color: #5e3a1b;
}

th {
    background-color: #8b4513;
    color: white;
}

tr:nth-child(even) {
    background-color: #e6ccb2;
}

tr:hover {
    background-color: #d2b48c;
}

.underline { 
    text-decoration: underline; 
}

