<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Validar Cadena de Ajedrez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <h1>Tablero de Ajedrez</h1>
    <div class="container">
        <div class="results" id="results">
            <table>
                <thead>
                    <tr>
                        <th>Cinta</th>
                        <th>Posición del Cabezal</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (cinta_visual, posicion, estado) in resultados %}
                    <tr>
                        <td>
                            {% set cinta_modificada = cinta_visual[:posicion] ~ '<span class="underline">' ~ cinta_visual[posicion] ~ '</span>' ~ cinta_visual[posicion + 1:] %}
                            {{ cinta_modificada | safe }}
                        </td>
                        <td>{{ posicion }}</td>
                        <td>{{ estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="board"></div>
    </div>
    <form method="POST">
        <input type="hidden" id="cadena" name="cadena" />
        <button type="submit" id="submitBtn"></button>
    </form>
    <!-- <textarea id="cadena" name="cadena" rows="4" cols="50" readonly></textarea> -->
    <script src="{{ url_for('static', filename='chess.js') }}"></script>
</body>
</html>
